.sorting-form {
  color: $product-filter-color;
  font-size: $product-filter-font-size;
  font-weight: $product-filter-font-weight;
  float: right;
  margin-top: rem(12px);
  position: relative;
  @include breakpoint(tablet) {
    display: block;
    text-align: center;
    float: none;
  }

  .custom-select {
    display: inline-block;
    position: relative;
    @include breakpoint(tablet) {
      text-align: left;
    }
    @include breakpoint(mobile) {
      display: block;
    }
  }
  .sort-by {
    padding-right: rem(20px);
    position: relative;
    top: rem(9px);
    @include breakpoint(mobile) {
      display: block;
      text-align: center;
      padding: rem(0 0 20px);
    }
  }
  .select {
    color: $product-filter-color;
    font-size: $product-filter-font-size;
    font-weight: $product-filter-font-weight;
    background: $product-filter-select-background;
    border: $product-filter-select-border;
    display: inline-block;
    @include border-radius(4px);
    padding: rem(7px 39px 8px 19px);
    min-width: rem(197px);
    @include breakpoint(mobile) {
      display: block;
    }
  }
  .icon-arrow-down {
    color: $product-filter-color;
    font-size: rem(18px);
    position: absolute;
    top: rem(12px);
    right: rem(17px);
    pointer-events: none;
  }
}