.newsletter {
  .main-container {
    padding: rem(85px 0 79px);
    text-align: center;
  }
  label {
    color: $newsletter-color;
    font-size: $newsletter-font-size;
    font-weight: $newsletter-font-weight;
    margin: rem(0 15px);
    position: relative;
    top: rem(-13px);
  }
  form {
    .newsletter-field {
      display: inline-block;
      width: rem(377px);
      margin: rem(0 15px);
      @include breakpoint(mobile) {
        width: calc(100% - 30px);
      }
    }
    input {
      margin-left: 6px;
      height: rem(42px);
      width: rem(256px);
      float: left;
      @include border-radius(4px 0 0 4px);
      border: $newsletter-input-border;
      color: $newsletter-input-color;
      font-size: $newsletter-input-font-size;
      font-weight: $newsletter-input-font-weight;
      @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        @include border-radius(4px 4px 0 0);
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $newsletter-input-placeholder-color;
        font-weight: $newsletter-input-font-weight;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $newsletter-input-placeholder-color;
        font-weight: $newsletter-input-font-weight;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $newsletter-input-placeholder-color;
        font-weight: $newsletter-input-font-weight;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $newsletter-input-placeholder-color;
        font-weight: $newsletter-input-font-weight;
      }
      &:focus {
        border: $newsletter-input-border !important;
      }
    }
    input[type=submit] {
      width: auto;
      margin: 0;
      float: left;
      border: none;
      padding: rem(10px 30px);
      font-size: 16px;
      font-weight: 600;
      @include border-radius(0 4px 4px 0);
      outline: none;
      @include breakpoint(mobile) {
        width: 100%;
        @include border-radius(0 0 4px 4px);
      }

      &:focus {
        border: none !important;
      }
    }
  }
}

#mc_embed_signup input.mce_inline_error {
  border: none !important;
  @include box-shadow(inset 0 0 4px 0 rgba(255, 0, 0, 0.5));
}
#mce-responses {
  max-width: rem(500px);
  margin: rem(20px auto 0);
  color: $newsletter-message-color;
  font-size: $newsletter-message-font-size;
  font-weight: $newsletter-message-font-weight;
}
