.share-this {
  border-top: $share-this-separator;
  text-align: center;
  margin-top: rem(8px);
  padding: rem(37px 0 31px);

  .title {
    color: $share-this-title-color;
    font-size: $share-this-title-font-size;
    font-weight: $share-this-title-font-weight;
    display: inline-block;
    position: relative;
    top: rem(-8px);
    left: rem(-15px);
  }
  ul {
    display: inline-block;
    @extend .default-list;

    li {
      display: inline-block;
      padding: rem(4px 12px 0);

      a {
        color: $share-this-icon-color;
        font-size: rem(24px);

        &:hover {
          color: $share-this-icon-hover-color;
        }
      }
    }
  }
}

.template-blog-post {
  .share-this {
    border-bottom: $share-this-separator;
  }
}
