footer.main-footer {
  .general-content {
    margin: 0 auto;

    .content-spacer {
      background: $footer-background;
    }
  }

  ul {
    @extend .default-list;
    text-align: center;

    .icon-arrow-next {
      display: none;
    }
    li {
      position: relative;

      a,
      span {
        display: block;
        padding: #{$default-padding}px;
      }
    }
  }
  .footer {
    .grid__item {
      padding: #{$default-padding}px;
    }
    .contact {
      text-align: center;

      h3.general-title {
        text-align: center;
      }
    }
  }
  .social-icons {
    text-align: center;
    padding: #{$default-padding}px;

    a {
      display: inline-block;
      padding: #{$default-padding}px;
    }
  }
  .payment-icons {
    text-align: center;
    padding: #{$default-padding}px;

    > div {
      display: inline-block;
    }

    .payment-seb {
      &:before {
        content: "seb";
      }
    }
    .payment-swedbank {
      &:before {
        content: "swedbank";
      }
    }
    .payment-nordea {
      &:before {
        content: "nordea";
      }
    }
    .payment-danske {
      &:before {
        content: "danske";
      }
    }
    .payment-lhv {
      &:before {
        content: "lhv";
      }
    }
    .payment-visa {
      &:before {
        content: "visa";
      }
    }
    .payment-mastercard {
      &:before {
        content: "mastercard";
      }
    }
    .payment-maestro {
      &:before {
        content: "maestro";
      }
    }
  }
  .shoperb {
    padding: #{$default-padding}px;
    text-align: center;

    svg {
      width: 100px;
    }
  }
}