.main-footer {
  background: #efefef;

  ul {
    @extend .default-list;
    text-align: center;

    li {
      position: relative;

      a {
        display: block;
        padding: #{$default-padding}px;
      }
    }
    ul {
      display: none;
    }
  }
  .footer {
    .grid__item {
      padding: #{$default-padding}px;
    }
    .contact {
      text-align: center;

      h3.general-title {
        text-align: center;
      }
    }
  }
  .shoperb {
    padding: #{$default-padding}px;
    text-align: center;

    svg {
      width: 100px;
    }
  }
}