button.button {
  border: none;
  cursor: pointer;
}
input,
button,
.input-field-extender {
  border: 1px solid $layout_border_color;
  font-size: $body_font_size;
  padding: 4px 8px;
  border-radius: 2px;
  background: $form_background;
  height: 40px;
  box-sizing: border-box;
  color: $text_headings_color;
  font-family: $body_font_family, sans-serif;
}
.button,
.disabled-button {
  display: inline-block;
  margin: 20px 0;
  min-width: 140px;
  font-size: calc(#{$body_font_size} - 2px);
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
  height: 40px;

  &.primary {
    padding: 9px 15px;
    background: $buttons_primary_button_background_color;
    color: $buttons_primary_button_text_color;

    &:hover {
      background: lighten($buttons_primary_button_background_color, 10%);
    }
    &:focus,
    &:active {
      background: darken($buttons_primary_button_background_color, 10%);
    }
  }
  &.secondary {
    padding: 7px 12px;
    background: $buttons_secondary_button_background_color;
    color: $buttons_secondary_button_text_color;

    &:hover {
      background: lighten($buttons_secondary_button_background_color, 10%);
    }
    &:focus,
    &:active {
      background: darken($buttons_secondary_button_background_color, 10%);
    }
  }
}
button,
.button,
.disabled-button {
  border: none;
}
.disabled-button {
  cursor: pointer;
  @include user-select;
  border-radius: 2px;
}
.buttons {
  text-align: center;
}
input {

}