button.button {
  border: none;
  cursor: pointer;
}
input,
button,
.input-field-extender {
  border: 1px solid $layout_border_color;
  font-size: calc(#{$body_font_size} - 2px);
  padding: 4px 8px;
  border-radius: 4px;
  background: $form_background;
  min-height: 28px;
  box-sizing: border-box;
  color: $text_body_color;
}
.button,
.disabled-button {
  display: inline-block;
  margin: 20px 0;
  min-width: 140px;
  font-size: calc(#{$body_font_size} - 2px);
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;

  &.primary {
    padding: 9px 15px;
    background: $buttons_primary_button_background_color;
    color: $buttons_primary_button_text_color;

    &:hover {
      background: lighten($buttons_primary_button_background_color, 10%);
    }
    &:focus,
    &:active {
      background: darken($buttons_primary_button_background_color, 10%);
    }
  }
  &.secondary {
    padding: 7px 12px;
    background: $buttons_secondary_button_background_color;
    color: $buttons_secondary_button_text_color;

    &:hover {
      background: lighten($buttons_secondary_button_background_color, 10%);
    }
    &:focus,
    &:active {
      background: darken($buttons_secondary_button_background_color, 10%);
    }
  }
}
.disabled-button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
}
.buttons {
  text-align: center;
}
