header#main-header {
  position: relative;
  margin: 0;
  background: $layout_header_footer_background_color;

  .content-spacer {
    position: relative;
    @extend .general-content;
    margin: 0 auto;
    padding: 0;
  }
  .grid__item {
    position: relative;
    vertical-align: middle;
    padding: #{$default_padding}px;
  }
  .logo {
    text-align: left;
    @include breakpoint(desk) {
      text-align: center;
    }

    a {
      font-size: calc(#{$headings_font_size} - 22px);
      color: $text_link_color;
      font-family: $headings_font_family,  sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;

      img {
        display: block;
      }
    }
  }
  &.header-alignment-center {
    .logo {
      text-align: center;
    }
    nav.main-menu ul {
      text-align: left;
      margin-left: -#{$default_padding}px;
      @include breakpoint(desk) {
        text-align: center;
        margin-left: 0;
      }
    }
  }
  .search,
  .account,
  .cart,
  .search-container,
  .account-container {
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }
  .search,
  .account,
  .cart {
    padding-top: 6px !important;

    &:hover {
      svg,
      a {
        color: lighten($text_link_color, 20%);
      }
    }
  }
  .search-container,
  .account-container {
    line-height: 36px;

    [data-toggle],
    a {
      &:hover {
        color: lighten($text_link_color, 20%);
      }
    }
  }
  .cart {
    position: relative;

    .cart-items {
      @include centerize;
      background: $layout_header_footer_background_color;
      padding: 2px;
      border-radius: 10px;
      color: $text_body_color;
      line-height: 1;
      top: 2px;
      left: calc(50% + 2px);
    }
    .cart-link {
      color: $text_link_color;
    }
  }
  [data-toggle="close"] {
    display: inline-block;
  }
  .actions-container {
    padding-right: 0;
    height: 36px;

    .actions {
      text-align: right;
      min-width: 320px;
      position: absolute;
      right: 0;
      top: 0;
      @include breakpoint(desk) {
        text-align: center;
        position: relative;
      }

      > div:not(.hidden) {
        display: inline-block;
        vertical-align: middle;
        padding: 0 3px;
        color: $text_link_color;

        &.cart-container {
          padding-right: 0;
        }
      }
    }
  }
  .search-container {
    margin: -2px 0;

    form {
      display: inline-block;

      .search-form {
        border-radius: 4px 0 0 4px;
        width: 235px;
      }
      .search-button {
        position: relative;
        line-height: 1;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        background: $buttons_primary_button_background_color;
        color: $buttons_primary_button_text_color;
        float: right;
        width: 50px;

        .icon-search {
          padding: 0;
        }
        &:hover {
          background: lighten($buttons_primary_button_background_color, 10%);
        }
        &:focus,
        &:active {
          background: darken($buttons_primary_button_background_color, 10%);
        }
      }
    }
  }
}
