.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}
