[class^="icon-"], [class*=" icon-"] {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: currentColor;
}
.icon-search {
  width: 16px;
  height: 16px;
  padding-right: 5px;
  padding-bottom: 2px;
}
.icon-full-arrow-down {
  border: 3px solid transparent;
  border-top-color: $text_link_color;
  width: 0;
  height: 0;
}