.default-menu {
  @extend .default-list;

  li {
    &:hover {
      // variable to function
      //background: darken($layout_secondary_background_color, 5%);
      // remove this once upper one works
      background: darken(#ffffff, 5%);
    }
  }
}
nav.main-menu {
  ul {
    @extend .default-menu;
    text-align: center;

    li {
      display: inline-block;
      position: relative;

      a,
      span {
        display: block;
        padding: #{$default_padding}px;
        color: $text_link_color;
      }
      &.with-child {
        a,
        span {
          position: relative;
          padding-right: 25px;
          cursor: pointer;
        }
      }
      .icon-arrow-next {
        @include transform(rotate(90deg));
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 0;
        color: $text_link_color;
        pointer-events: none;
      }
      ul {
        display: none;
        background: $layout_secondary_background_color;
        text-align: left;
        position: absolute;
        z-index: 1;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

        li {
          white-space: nowrap;
          width: 100%;
        }
        .icon-arrow-next {
          @include transform(none);
          right: 5px;
        }
      }
      &:hover {
        > ul {
          display: block;
        }
      }
    }
  }
  > ul {
    > li {

      > ul {
        left: 50%;
        @include transform(translateX(-50%));

        li {
          display: block;
        }
        ul {
          left: 75%;
          top: 10px;
        }
      }
    }
  }
}
