.default-menu {
  @extend .default-list;

  [class^="icon-"] {
    display: inline-block;
    position: relative;
    top: -2px;
    left: -10px;
  }
  li {
    &:hover {
      background: darken($layout_header_footer_background_color, 5%);

      > a,
      > span {
        color: lighten($text_link_color, 20%);
      }
    }
  }
}
nav.main-menu {
  ul {
    @extend .default-menu;
    text-align: center;

    li {
      display: inline-block;
      position: relative;

      a,
      span {
        display: inline-block;
        padding: #{$default_padding}px;
        color: $text_link_color;
        font-size: 1.125rem;
      }
      &.with-child {
        a,
        span {
          position: relative;
          cursor: pointer;
        }
      }
      ul {
        display: none;
        background: $layout_header_footer_background_color;
        text-align: left;
        position: absolute;
        z-index: 1;
        box-shadow: 0 2px 8px 0 rgba(27, 22, 38, 0.1);

        li {
          white-space: nowrap;
          width: 100%;
        }
        .icon-arrow-next {
          @include transform(none);
          right: 5px;
        }
      }
      &:hover {
        > ul {
          display: block;
        }
      }
    }
  }
  > ul {
    > li {
      &:hover {
        background: none;
      }
      .icon-arrow-narrow {
        display: none;
      }

      > ul {
        li {
          display: block;
          width: 300px;
          position: relative;

          .icon-arrow-narrow {
            display: block;
            position: absolute;
            right: 15px;
            top: 22px;
            left: auto;
            width: 12px;
            fill: currentColor;
          }
          .icon-full-arrow-down {
            display: none;
          }

          a,
          span {
            text-transform: capitalize;
            display: block;
            padding: 15px 20px;
          }
        }
        ul {
          left: 100%;
          top: 0;
        }
      }
    }
  }
}
.menu-dropdown {
  &.direction-right {
    .menu-dropdown-container {
      left: auto;
      right: 0;
    }
  }
}
