.owl-stage-outer {
  height: 100%;

  .owl-stage {
    height: 100%;

    .owl-item {
      height: 100%;
    }
  }
}
.owl-nav {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  width: 100%;
  color: #ffffff;
  height: 0;

  .owl-prev,
  .owl-next {
    width: 25px;
    height: 30px;
  }
  .icon-arrow-right,
  .icon-arrow-left {
    top: 4px;
    position: relative;
  }
  .icon-arrow-left {
    left: 5px;
  }
  .owl-prev {
    float: left;
    margin-left: 20px;
  }
  .owl-next {
    float: right;
    margin-right: 20px;
  }
  .owl-prev,
  .owl-next {
    &:hover {
      color: #e7eff3;
    }
  }
}
.owl-dots {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  bottom: 10px;

  .owl-dot {
    float: left;
    margin: 0 5px;

    span {
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid #ffffff;
      border-radius: 10px;
    }
    &.active {
      span {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
}