<section data-section-id="{{section.id}}" data-type="blog-posts" class="not-full-screen">

  {% if section.settings.title != blank %}
  <h2 class="general-title">{{ section.settings.title }}</h2>
  {% endif %}

  <ul>
    {% for post in posts limit: {{ section.settings.grid }} %}
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    {% endfor %}

    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
    <li>
      <div class="text-column">
        <h3 class="general-title">Your post's title</h3>
        <h3 class="post-author">Author name</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
        <a role="button" class="button secondary" href="">Read more</a>
      </div>
    </li>
  </ul>

  {% if section.settings.show_button == true %}
  <div class="buttons">
    <a href="/blog" role="button" class="button primary">View all</a>
  </div>
  {% endif %}

</section>
