<div class="custom-section {{block.type}}">
  {% if block.settings.image != blank %}
  <img src="{{block.settings.image}}">
  {% else %}
  <img src="{{'images/placeholder.svg' | asset_url}}">
  {% endif %}
</div>
