<section data-section-id="{{section.id}}" data-type="newsletter" class="full-width next-to-down">
  <div class="newsletter-container">
    {% if section.settings.title != blank %}
    <h2 class="general-title">{{section.settings.title}}</h2>
    {% endif %}

    <div class="grid">
      {% if section.settings.text != blank %}
      <div class="text-content general-text">{{section.settings.text}}</div>
      {% endif %}

      <form>
        <input>
        <button class="button primary">Submit</button>
      </form>
    </div>
  </div>
</section>
