h2.product-title {
  margin: 0;
}

[data-variant-select] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.product-form-title,
.variant-title {
  text-transform: capitalize;
  padding-bottom: 5px;
  display: block;
  color: $text_headings_color;
}
[data-variant-container] {
  margin: 0 -#{$default_padding}px;

  .variant-selector {
    float: left;
    min-width: 270px;
    clear: both;
    position: relative;
    margin: #{$default_padding}px;

    .variant-select {
      position: relative;
    }
    .selected {
      @extend .input-field-extender;
      cursor: pointer;
      padding: 8px 10px;
    }
    svg {
      position: absolute;
      top: 18px;
      right: 14px;
      pointer-events: none;
    }
    ul {
      @extend .default-list;
      display: none;
      position: absolute;
      z-index: 1;
      top: 39px;
      left: 0;
      width: 100%;
      @extend .input-field-extender;
      height: auto;
      border-radius: 0 0 4px 4px;
      padding: 0;

      li {
        label {
          display: block;
          position: relative;
          padding: 8px 10px;
          cursor: pointer;

          input {
            opacity: 0;
            position: absolute;
          }
        }
        + li {
          label {
            border-top: 1px solid $layout_border_color;
          }
        }
        &.not-present {
          label {
            pointer-events: none;
            background: rgba(230, 230, 230, 6);
            color: rgba($text_body_color, 1);
          }
        }
        &:hover,
        &.active {
          background: darken($form_background, 5%);
        }
      }
    }
    &.open {
      .selected {
        border-radius: 4px 4px 0 0;
      }
      svg {
        @include transform(rotate(180deg));
        top: 14px;
      }
      ul {
        display: block;
      }
    }
    &.dropdown-box {
      min-width: 0;
      float: none;

      .selected,
      .icon-full-arrow-down {
        display: none;
      }
      ul {
        display: block;
        position: relative;
        top: 0;
        border: none;
        margin: 0 -#{$default_padding / 2}px;
        @extend .clearfix;

        li {
          float: left;
          margin: #{$default_padding / 2}px;
          border: none;
          border-radius: 6px;

          &:hover {
            background: none;
          }
          label {
            padding: 0;
          }
          span {
            display: block;
            width: 25px;
            height: 25px;
            font-size: 0;
            border: 2px solid $layout_border_color;
            border-radius: 4px;
            position: relative;

            &:hover {
              box-shadow: 3px 3px 5px $layout_border_color;
              border-color: darken($layout_border_color, 30%);
            }
          }
          input:checked + span {
            box-shadow: 3px 3px 5px $layout_border_color;
            border-color: darken($layout_border_color, 30%);
          }
        }
      }
    }
  }
}
.product-container {
  .sku {
    display: none;

    &.visible {
      display: block;
    }
  }
  .product-pricing {
    .compare-price {
      color: lighten($text_body_color, 30%);
      text-decoration: line-through;
      display: none;

      &.visible {
        display: inline-block;
        font-size: calc(#{$body_font_size} + 6px);
      }
    }
    .discount {
      color: $text_sale_text_color;
    }
  }
  .quanity-cart-row {
    .quantity {
      display: inline-block;

      .number-input {
        position: relative;
      }
      input {
        text-align: center;
        background: $layout_secondary_background_color;
        border: none;
        width: 140px;
      }
      [data-quantity] {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        width: 24px;
        height: 24px;
        cursor: pointer;
        @include user-select;

        svg {
          margin-left: 6px;
          pointer-events: none;
        }
      }
      [data-quantity=decrease] {
        left: 9px;
      }
      [data-quantity=increase] {
        right: 9px;
      }
    }
    .add-to-cart {
      display: inline-block;
      padding-left: 16px;

      .button {
        position: relative;
        top: -1px;
        margin: 0;
      }
    }
  }
}
