h2.product-title {
  margin: 0;
}

[data-variant-select] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[data-variant-container] {
  margin: 0 -#{$default_padding}px;

  .variant-selector {
    float: left;
    min-width: 150px;
    position: relative;
    margin: #{$default_padding}px;

    .variant-title {
      text-transform: capitalize;
      padding-bottom: 5px;
      display: block;
    }
    .variant-select {
      position: relative;
    }
    .selected {
      @extend .input-field-extender;
      cursor: pointer;
    }
    svg {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 18px;
      height: 18px;
      pointer-events: none;
    }
    ul {
      @extend .default-list;
      display: none;
      position: absolute;
      z-index: 1;
      top: 27px;
      left: 0;
      width: 100%;
      @extend .input-field-extender;
      border-radius: 0 0 4px 4px;
      padding: 0;

      li {
        label {
          display: block;
          position: relative;
          padding: 4px 8px;
          cursor: pointer;

          // general note - set marked style either as disabled option or hide it at all to remove missing variants at all
          &.marked {
            pointer-events: none;
            background: rgba(230, 230, 230, 6);
            // variable to function
            //color: rgba($text_body_color, 1);
            // remove this once upper one works
            color: rgba(143, 143, 143, 0.4);
          }
          input {
            opacity: 0;
            position: absolute;
          }
        }
        + li {
          label {
            border-top: 1px solid $layout_border_color;
          }
        }
        &:hover {
          // variable to function
          //background: darken($form_background, 5%);
          // remove this once upper one works
          background: darken(#ffffff, 5%);
        }
      }
    }
    &.open {
      .selected {
        border-radius: 4px 4px 0 0;
      }
      svg {
        @include transform(rotate(180deg));
      }
      ul {
        display: block;
      }
    }
    &.dropdown-box {
      min-width: 0;
      float: none;

      .selected,
      .icon-arrow-down {
        display: none;
      }
      ul {
        display: block;
        position: relative;
        top: 0;
        border: none;
        margin: 0 -#{$default_padding / 2}px;
        @extend .clearfix;

        li {
          float: left;
          margin: #{$default_padding / 2}px;
          border: none;
          border-radius: 6px;

          &:hover {
            background: none;
          }
          label {
            padding: 0;
          }
          span {
            display: block;
            width: 25px;
            height: 25px;
            font-size: 0;
            border: 2px solid $layout_border_color;
            border-radius: 4px;
            position: relative;

            &:hover {
              box-shadow: 3px 3px 5px $layout_border_color;
              // variable to function
              //border-color: darken($layout_border_color, 30%);
              // remove this once upper one works
              border-color: darken(#cccccc, 30%);
            }
          }
          input:checked + span {
            box-shadow: 3px 3px 5px $layout_border_color;
            // variable to function
            //border-color: darken($layout_border_color, 30%);
            // remove this once upper one works
            border-color: darken(#cccccc, 30%);
          }
        }
      }
    }
  }
}
.product-container {
  .sku {
    display: none;

    &.visible {
      display: block;
    }
  }
  .product-pricing {
    .actual-price {
      &.discount {
        font-weight: bold;
        color: $text_sale_text_color;
      }
    }
    .compare-price {
      // variable to function
      //color: lighten($text_body_color, 30%);
      // remove this once upper one works
      color: lighten(#666666, 30%);
      text-decoration: line-through;
      display: none;

      &.visible {
        display: block;
      }
    }
  }
}
