section[data-type] {
  @extend .general-content;
  box-sizing: border-box;
}

.section-height {
  &.x-small {
    height: 125px;
  }
  &.small {
    height: 300px;
  }
  &.medium {
    height: 475px;
  }
  &.large {
    height: 650px;
  }
  &.x-large {
    height: 775px;
  }
}

.image-align-top-left {
  background-position: left top !important;
}
.image-align-top-middle {
  background-position: center top !important;
}
.image-align-top-right {
  background-position: right top !important;
}
.image-align-middle-left {
  background-position: left center !important;
}
.image-align-center,
.image-align-middle {
  background-position: center center !important;
}
.image-align-middle-right {
  background-position: right center !important;
}
.image-align-bottom-left {
  background-position: left bottom !important;
}
.image-align-bottom-middle {
  background-position: center bottom !important;
}
.image-align-bottom-right {
  background-position: right bottom !important;
}

[data-type=image-with-text-overlay] {
  width: 100%;
  text-align: center;
  display: table;

  .opacity-image {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $image_overlay_background;
      opacity: $image_overlay_opacity;
      content: '';
    }
  }
  &:not(.full-width) {
    max-width: #{$limited_max_width}px;
  }
  &[class*="image-align"] {
    background-size: cover;
    background-color: transparent;
  }
  .hero {
    display: table-cell;
    vertical-align: middle;
    padding: #{$default_padding}px;
    position: relative;
  }
  .text-content {
    margin: 0 auto;
    text-align: center;
  }
  .general-title,
  .general-text {
    color: $image_overlay_light_color;
    max-width: 75%;
    margin: 0 auto;

    &.text-dark {
      color: $image_overlay_dark_color;
    }
  }
  .general-text {
    line-height: 2;
  }
}
[data-type=collection] {
  a.product,
  .fake-link {
    display: block;
    padding: #{$default_padding}px;

    &:hover {
      opacity: 0.7;
    }
  }
  .image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: #F2F6FA;

    img {
      @include centerize;
    }
    &.with-image {
      border: none;
      background: none;

      img {
        &.portrait {
          width: 100%;
        }
        &.landscape {
          height: 100%;
        }
      }
    }
  }
  h3 {
    margin: 0 0 10px;
  }
  .product-title {
    padding: 11px 0 6px;
    text-align: left;
  }
  .product-vendor {
    color: $text_headings_color;
  }
  .product-price {
    color: $text_headings_color;
    font-size: calc(#{$headings_font_size} - 20px);
  }
  .button {
    margin: 10px 0;
  }
  .collection-slideshow {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      color: $text_headings_color;
      cursor: pointer;

      &:hover {
        color: lighten($text_headings_color, 20%);
      }
      svg {
        width: 25px;
        height: 25px;
        display: block;
      }
      &.slick-prev {
        left: -35px;
      }
      &.slick-next {
        right: -35px;

        .icon-arrow-next {
          @include transform(rotate(180deg));
        }
      }
    }
  }
  &.show-slideshow {
    @include breakpoint(1255) {
      width: calc(100% - 50px);
    }
  }
}
[data-type=blog-posts] {
  text-align: center;

  .text-column {
    padding: #{$default_padding}px;
  }
}
[data-type=image-gallery] {
  text-align: center;

  .grid__item {
    background-position: center;
    background-repeat: no-repeat;
    border: $default_placeholder_border;

    &.with-background {
      background-size: cover;
      border: none;
    }
    .caption-container {
      text-align: center;
      width: 100%;
      height: 100%;
      display: none;
      position: relative;

      span {
        display: table-cell;
        vertical-align: middle;
        padding: #{$default_padding}px;
        color: #ffffff;
      }
    }
    &.opacity-image-container {
      .opacity-image {
        opacity: 1;
      }
    }
    &:hover {
      &.opacity-image-container {
        background-color: $image_overlay_background;
        border: none;

        .opacity-image {
          opacity: $image_overlay_opacity;
          background-color: $layout_background_color;
        }
      }
      .caption-container {
        display: table;
      }
    }
  }
}
[data-type=image-with-text] {
  .grid__item {
    vertical-align: middle;
    padding: #{$default_padding}px;

    h2.general-title {
      text-align: left;
    }
    .image {
      border: $default_placeholder_border;
      width: 100%;
      text-align: center;
      padding: 50px 0;
      box-sizing: border-box;
    }
    &.with-image {
      .image {
        padding: 0;
        border: 0;
      }
      img {
        width: 100%;
      }
    }
  }
}
[data-type=slideshow] {
  &:not(.full-width) {
    .slideshow {
      margin: #{$default_padding}px;
    }
  }
  .row {
    height: 100%;
  }
  .slideshow {
    text-align: center;
    height: 100%;

  }
  .general-title,
  .general-text {
    color: $image_overlay_light_color;

    &.text-dark {
      color: $image_overlay_dark_color;
    }
  }
  .slick-arrow {
    z-index: 9;
    width: 50px;
    height: 50px;
    @include centerize;
    cursor: pointer;
    color: $text_link_color;
    &:hover {
      border-color: lighten($text_link_color, 20%);
    }

    .icon-arrow-back,
    .icon-arrow-next {
      width: 50px;
      height: 50px;
    }
    &.slick-prev {
      left: 48px;
    }
    &.slick-next {
      right: -2px;
      left: auto;
    }
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 15px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      width: 10px;
      height: 10px;
      border: 2px solid $text_link_color;
      border-radius: 10px;
      margin: 0 5px;

      button {
        opacity: 0;
        cursor: pointer;
      }
      &.slick-active {
        background: rgba($text_link_color, 0.7);
      }
      &:hover {
        border-color: lighten($text_link_color, 20%);
      }
    }
  }
  .slick-slider {
    .slick-track,
    .slick-list {
      height: 100%;
    }
    .slide {
      background-size: cover;

      a,
      .container {
        width: 100%;
        height: 100%;
        display: table;
      }
      .text {
        padding: #{$default_padding}px;
        width: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
      }
      iframe {
        @include centerize;
      }
    }
  }
}
[data-type=collection-list] {
  .grid {
    text-align: center;

    .grid__item {
      padding: #{$default_padding}px;
    }
    .collection {
      display: block;
      width: 100%;
      padding-top: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      border: $default_placeholder_border;

      h2 {
        @include centerize;
        margin: 0;
        width: 100%;
        word-break: break-word;
      }
    }
    a.collection {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
[data-type=product] {
  .grid__item {
    padding: #{$default_padding}px;

    .image {
      text-align: center;
      padding: 50px 0;
      box-sizing: border-box;
      border: $default_placeholder_border;

      &.with-image {
        padding: 0;
        border: none;

        img {
          width: 100%;
        }
      }
    }
    .product-title {
      padding: 0;
      text-align: left;
    }
  }
}
[data-type=testimonials] {
  cursor: pointer;

  .testimonial {
    padding: #{$default_padding}px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    text-align: center;

    .testimonial-author {
      padding: 20px 0 0;
    }
  }
  .grid.testimonial-slider {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));

      svg {
        width: 50px;
        height: 50px;
      }
      &.slick-prev {
        left: -35px;
      }
      &.slick-next {
        right: -35px;
      }
    }
    @include breakpoint(1255) {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
}
[data-type=text-columns-with-images] {
  text-align: left;

  h3.general-title {
    text-align: left;
  }
  &.text-alignment-center {
    text-align: center;

    h3.general-title {
      text-align: center;
    }
  }
  .text-column {
    padding: #{$default_padding}px;

    img {
      width: 100%;
    }
  }
}
[data-type=logo-list] {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      padding: #{$default_padding}px;
      vertical-align: middle;

      a {
        display: block;
        height: 100%;
      }
      img {
        max-height: 20px;
      }
    }
  }
  &.section-height-large {
    ul li img {
      max-height: 60px;
    }
  }
}
[data-type=newsletter] {
  background: $layout_secondary_background_color;
  height: 300px;
  text-align: center;
  display: table;
  width: 100%;

  .newsletter-container {
    display: table-cell;
    vertical-align: middle;
  }
}
[data-type=location-and-contact] {
  height: 500px;
  position: relative;

  .scrolloff {
    pointer-events: none;
  }
  .map-container {
    height: 100%;
  }
  .map-description {
    position: absolute;
    background: $layout_background_color;
    padding: 10px 30px 30px; // top - title padding
    top: 50%;
    left: 50px;
    @include transform(translateY(-50%));
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    @include breakpoint(palm) {
      width: 100%;
      left: 0;
    }
  }
}
[data-type=custom] {
  .grid__item {
    padding: #{$default_padding}px;

    &.v-align-top {
      vertical-align: top;
    }
    &.v-align-middle {
      vertical-align: middle;
    }
    &.v-align-bottom {
      vertical-align: bottom;
    }
    .custom-section {
      &.custom_text {
        &.text-align-left {
          text-align: left;

          .general-title {
            text-align: left;
          }
        }
        &.text-align-center {
          text-align: center;

          .general-title {
            text-align: center;
          }
        }
        &.text-align-right {
          text-align: right;

          .general-title {
            text-align: right;
          }
        }
      }
      &.custom_image {
        text-align: center;
        border: $default_placeholder_border;
        padding: 50px 0;
        box-sizing: border-box;

        &.with-image {
          border: none;
          padding: 0;

          img {
            width: 100%;
            float: left;
          }
        }
      }
      &.custom_video {
        iframe {
          width: 100%;
        }
        .video-placeholder-container {
          padding-top: calc(900% / 16);
          position: relative;

          .video-placeholder {
            background: asset-url('images/placeholder.svg') no-repeat center;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      &.custom_product {
        .image {
          text-align: center;
          border: $default_placeholder_border;
          padding: 50px 0;
          box-sizing: border-box;

          &.with-image {
            border: none;
            padding: 0;

            img {
              width: 100%;
            }
          }
        }
      }
      &.custom_product {
        h2.general-title {
          text-align: left;
        }
      }
      &.custom_collection {
        position: relative;
        padding-bottom: 100%;

        a,
        .collection {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          h3.general-title {
            padding: 20px;
            @include centerize;
          }
        }
      }
    }
  }
}
