[data-type=image-gallery] {
  ul {
    li {
      background-size: cover;
      display: table;
      width: 100%;

      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 30px;
        color: #ffffff;
      }
    }
  }
}
[data-type=image-gallery],
[data-type=collection],
[data-type=collection-list],
[data-type=testimonials],
[data-type=text-columns-with-images],
[data-type=logo-list],
[data-type=blog-posts],
[data-type=custom] {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    li {
      height: 100%;
      float: left;
    }
  }
}
[data-type=image-gallery],
[data-type=collection],
[data-type=collection-list],
[data-type=text-columns-with-images] {
  &.divide-by-1 {
    li {
      width: 100%;
    }
  }
  &.divide-by-2 {
    li {
      width: 50%;
    }
  }
  &.divide-by-3 {
    li {
      width: 33.33333%;
    }
  }
  &.divide-by-4 {
    li {
      width: 25%;
    }
  }
  &.divide-by-5 {
    li {
      width: 20%;
    }
  }
}

.section-height {
  &.extra-small {
    height: 125px;
  }
  &.small {
    height: 300px;
  }
  &.medium {
    height: 475px;
  }
  &.large {
    height: 650px;
  }
  &.extra-large {
    height: 775px;
  }
}


.image-align-top-left {
  background-position: left top;
}
.image-align-top-middle {
  background-position: center top;
}
.image-align-top-right {
  background-position: right top;
}
.image-align-middle-left {
  background-position: left center;
}
.image-align-middle {
  background-position: center center;
}
.image-align-middle-right {
  background-position: right center;
}
.image-align-bottom-left {
  background-position: left bottom;
}
.image-align-bottom-middle {
  background-position: center bottom;
}
.image-align-bottom-right {
  background-position: right bottom;
}

[data-type=image-with-text] {
  h2.general-title {
    text-align: left;
  }
  .text {
    padding: 30px;
  }
  &.image-on-left {
    flex-direction: row-reverse;
  }
}

[data-type=image-with-text-overlay] {
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
}

[data-type=slideshow] {
  .owl-carousel {
    @extend .clearfix;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .slide {
      display: table;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;

      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transform: translate(-50%, -50%);
      }
    }
  }
}

[data-type=image-with-text-overlay],
[data-type=slideshow] {
  .hero {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
    position: relative;
  }
  .text {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
  }
}

[data-type=collection],
[data-type=collection-list] {
  ul {
    @extend .clearfix;

    li {
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
[data-type=collection] {
  ul {
    a {
      display: block;

      &:hover {
        opacity: 0.7;
      }
    }
    li {
      .image {
        width: 100%;
        padding-top: 100%;
        background-position: center center;
        background-size: cover;
      }
      h3 {
        margin: 0;
      }
      .product-title {}
      .product-vendor {}
      .product-price {}
    }
  }
}
[data-type=collection-list] {
  ul {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin-left: -4px;

      a {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-position: center center;
        background-size: cover;
        position: relative;

        h3 {
          padding: 10px;
          position: absolute;
          text-align: center;
          left: 50%;
          top: 50%;
          @include transform(translate(-50%, -50%));
          width: 100%;
          box-sizing: border-box;
          color: #ffffff;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

[data-type=image-with-text],
[data-type=product] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  @include align-items(center);
  flex-direction: row;

  > * {
    @include flex(0 1 50%);
  }
  .image {
    img {
      width: 100%;
      float: left;
    }
  }
}

[data-type=product] {
  @include align-items(flex-start);

  .product {
    padding: 30px;
  }
  &.image-size-small {
    .image {
      @include flex(0 1 25%);
    }
    .product {
      @include flex(0 1 75%);
    }
  }
  &.image-size-large {
    .image {
      @include flex(0 1 75%);
    }
    .product {
      @include flex(0 1 25%);
    }
  }
  &.image-size-full {
    display: block;
  }
}

[data-type=testimonials] {
  .owl-carousel {
    @extend .clearfix;
    text-align: center;

    &:not(.owl-testimonials) {
      display: table;

      .testimonial {
        @extend .grid-4;
        padding: 30px;
        box-sizing: border-box;
        display: inline-block;
        margin-left: -4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: table-cell;
      }
    }
    .owl-item {
      @extend .grid-4;

      .testimonial {
        padding: 30px;
      }
    }
    .testimonial-author {
      padding: 20px 0 0;
    }
  }
}

[data-type=text-columns-with-images] {
  &.text-alignment-center {
    text-align: center;
  }
  ul {
    @extend .clearfix;

    li {
      padding: 10px;
      box-sizing: border-box;
      width: 33.33333%;

      .text-column {
        img {
          width: 100%;
        }
      }
    }
  }
  &.divide-by-2 {
    ul {
      li {
        &:nth-child(2n + 1) {
          clear: left;
        }
      }
    }
  }
  &.divide-by-5 {
    ul {
      li {
        width: 33.33333%;

        &:nth-child(1),
        &:nth-child(2) {
          width: 50%;
        }
        &:nth-child(3) {
          clear: left;
        }
      }
    }
  }
}

[data-type=logo-list] {
  ul {
    @extend .clearfix;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 10px;
      @extend .clearfix;
      vertical-align: middle;

      img {
        float: left;
        max-width: 200px;
      }
    }
  }
}

[data-type=blog-posts] {
  ul {
    @extend .clearfix;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 0 10px 0 6px;
      width: calc(33.33333% - 20px);
      text-align: left;

      .general-title {
        text-align: left;
      }
    }
  }
}

[data-type=newsletter] {
  text-align: center;
  padding: 0 30px;
}

[data-type=location-and-contact] {
  height: 500px;
  position: relative;

  .map-description {
    position: absolute;
    background: #ffffff;
    padding: 30px;
    top: 50%;
    left: 50px;
    @include transform(translateY(-50%));
    width: 300px;
    text-align: center;
  }
}

[data-type=custom] {
  ul {
    @extend .clearfix;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: stretch;
    @include align-items(stretch);
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0 !important;
    margin-right: 0 !important;

    li {
      @include flex(0 0 auto);
      padding: 15px;
      box-sizing: border-box;

      &.custom-width-25 {
        width: 25%;
      }
      &.custom-width-33 {
        width: 33.33333%;
      }
      &.custom-width-50 {
        width: 50%;
      }
      &.custom-width-66 {
        width: 66.66666%;
      }
      &.custom-width-75 {
        width: 75%;
      }
      &.custom-width-100 {
        width: 100%;
      }

      &.v-align-top {
        -ms-flex-item-align: flex-start;
        -webkit-align-self: flex-start;
        align-self: flex-start;
      }
      &.v-align-middle {
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center;
      }
      &.v-align-bottom {
        -ms-flex-item-align: flex-end;
        -webkit-align-self: flex-end;
        align-self: flex-end;
      }

      .custom-section {
        &.custom-text {
          &.text-align-left {
            text-align: left;

            .general-title {
              text-align: left;
            }
          }
          &.text-align-center {
            text-align: center;

            .general-title {
              text-align: center;
            }
          }
          &.text-align-right {
            text-align: right;

            .general-title {
              text-align: right;
            }
          }
        }
        &.custom-image {
          img {
            width: 100%;
            float: left;
          }
        }
        &.custom-video {
          iframe {
            width: 100%;
          }
        }
        &.custom-product {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
