section[data-type] {
  max-width: #{$limited-max-width}px;
  margin: #{2 * $default-padding}px auto #{$default-padding}px;
  box-sizing: border-box;

  &.full-width {
    max-width: 100%;
  }
  &:first-of-type {
    margin-top: 0;
  }
}

.section-height {
  &.extra-small {
    height: 125px;
  }
  &.small {
    height: 300px;
  }
  &.medium {
    height: 475px;
  }
  &.large {
    height: 650px;
  }
  &.extra-large {
    height: 775px;
  }
}

.image-align-top-left {
  background-position: left top !important;
}
.image-align-top-middle {
  background-position: center top !important;
}
.image-align-top-right {
  background-position: right top !important;
}
.image-align-middle-left {
  background-position: left center !important;
}
.image-align-center,
.image-align-middle {
  background-position: center center !important;
}
.image-align-middle-right {
  background-position: right center !important;
}
.image-align-bottom-left {
  background-position: left bottom !important;
}
.image-align-bottom-middle {
  background-position: center bottom !important;
}
.image-align-bottom-right {
  background-position: right bottom !important;
}



[data-type=image-with-text-overlay] {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  width: 100%;
  text-align: center;
  display: table;

  &[class*="image-align"] {
    background-size: cover;
    background-color: transparent;
  }
  .hero {
    display: table-cell;
    vertical-align: middle;
    padding: #{$default-padding}px;
  }
  .text-content {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
  }
}
[data-type=collection] {
  a.product,
  .fake-link {
    display: block;
    padding: #{$default-padding}px;

    &:hover {
      opacity: 0.7;
    }
  }
  .image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;

    img {
      @include centerize;

      &.portrait {
        width: 100%;
      }
      &.landscape {
        height: 100%;
      }
    }
  }
  h3 {
    margin: 0;
  }
  .product-title {}
  .product-vendor {}
  .product-price {}
}
[data-type=blog-posts] {
  text-align: center;

  .text-column {
    padding: #{$default-padding}px;
  }
}
[data-type=image-gallery] {
  text-align: center;

  .grid__item {
    background-size: cover;

    .caption-container {
      text-align: center;
      display: table;
      width: 100%;
      height: 100%;

      span {
        display: table-cell;
        vertical-align: middle;
        padding: #{$default-padding}px;
        color: #ffffff;
      }
    }
  }
}
[data-type=image-with-text] {
  .grid__item {
    vertical-align: middle;
    padding: #{$default-padding}px;

    h2.general-title {
      text-align: left;
    }
    img {
      width: 100%;
    }
  }
}
[data-type=slideshow] {
  &:not(.full-width) {
    .slideshow {
      margin: #{$default-padding}px;
    }
  }
  .row {
    height: 100%;
  }
  .slideshow {
    text-align: center;
    height: 100%;
  }
  .slick-arrow {
    z-index: 9;
    width: 25px;
    height: 25px;
    @include centerize;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 3px;
      background: #ffffff;
      transform: rotate(45deg);
      left: 5px;
      top: 5px;
    }
    &:before {
      transform: rotate(-45deg);
      top: 15px;
    }
    &.slick-prev {
      left: 20px;

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &.slick-next {
      right: 20px;
      left: auto;
    }
    .slick-nexy {
      width: 25px;
      height: 30px;
    }
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 15px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      width: 10px;
      height: 10px;
      border: 2px solid #ffffff;
      border-radius: 10px;
      margin: 0 5px;

      button {
        opacity: 0;
        cursor: pointer;
      }
      &.slick-active {
        background: rgba(255, 255, 255, 0.7);
      }
      &:hover {
        border-color: #798991;
      }
    }
  }
  .slick-slider {
    .slick-track,
    .slick-list {
      height: 100%;
    }
    .slide {
      background-size: cover;

      a,
      .container {
        width: 100%;
        height: 100%;
        display: table;
      }
      .text {
        padding: #{$default-padding}px;
        width: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
      }
      iframe {
        @include centerize;
      }
    }
  }
}
[data-type=collection-list] {
  .grid {
    text-align: center;

    .grid__item {
      padding: #{$default-padding}px;
    }
    .collection {
      display: block;
      width: 100%;
      padding-top: 100%;
      background-position: center;
      background-size: cover;
      position: relative;

      h3 {
        @include centerize;
        margin: 0;
      }
    }
    a.collection {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
[data-type=testimonials] {
  cursor: pointer;

  .testimonial {
    padding: #{$default-padding}px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    text-align: center;

    .testimonial-author {
      padding: 20px 0 0;
    }
  }
}
[data-type=text-columns-with-images] {
  text-align: left;

  h3.general-title {
    text-align: left;
  }
  &.text-alignment-center {
    text-align: center;

    h3.general-title {
      text-align: center;
    }
  }
  .text-column {
    padding: #{$default-padding}px;

    img {
      width: 100%;
    }
  }
}




[data-type=logo-list],
[data-type=custom] {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    li {
      height: 100%;
      float: left;
    }
  }
}

[data-type=product] {
  .image {
    padding: #{$default-padding}px;

    img {
      width: 100%;
    }
  }
  .product {
    padding: #{$default-padding}px;
  }
}



[data-type=logo-list] {
  ul {
    @extend .clearfix;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 10px;
      @extend .clearfix;
      vertical-align: middle;

      img {
        float: left;
        max-width: 200px;
      }
    }
  }
}


[data-type=newsletter] {
  text-align: center;

  div,
  form {
    width: 100%;
  }
}

[data-type=location-and-contact] {
  height: 500px;
  position: relative;

  .map-description {
    position: absolute;
    background: #ffffff;
    padding: 30px;
    top: 50%;
    left: 50px;
    @include transform(translateY(-50%));
    width: 300px;
    text-align: center;
  }
}

[data-type=custom] {
  ul {
    @extend .clearfix;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: stretch;
    @include align-items(stretch);
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0 !important;
    margin-right: 0 !important;

    li {
      @include flex(0 0 auto);
      padding: 15px;
      box-sizing: border-box;

      &.custom-width-25 {
        width: 25%;
      }
      &.custom-width-33 {
        width: 33.33333%;
      }
      &.custom-width-50 {
        width: 50%;
      }
      &.custom-width-66 {
        width: 66.66666%;
      }
      &.custom-width-75 {
        width: 75%;
      }
      &.custom-width-100 {
        width: 100%;
      }

      &.v-align-top {
        -ms-flex-item-align: flex-start;
        -webkit-align-self: flex-start;
        align-self: flex-start;
      }
      &.v-align-middle {
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center;
      }
      &.v-align-bottom {
        -ms-flex-item-align: flex-end;
        -webkit-align-self: flex-end;
        align-self: flex-end;
      }

      .custom-section {
        &.custom-text {
          &.text-align-left {
            text-align: left;

            .general-title {
              text-align: left;
            }
          }
          &.text-align-center {
            text-align: center;

            .general-title {
              text-align: center;
            }
          }
          &.text-align-right {
            text-align: right;

            .general-title {
              text-align: right;
            }
          }
        }
        &.custom-image {
          img {
            width: 100%;
            float: left;
          }
        }
        &.custom-video {
          iframe {
            width: 100%;
          }
        }
        &.custom-product {
          img {
            width: 100%;
          }
        }
        &.custom-product {
          h2.general-title {
            text-align: left;
          }
        }
        &.custom-collection {
          position: relative;
          padding-bottom: 100%;

          a {
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .collection-title {
              text-align: center;
              margin: 0;
              padding: 20px;
              top: 50%;
              left: 0;
              width: 100%;
              position: absolute;
              transform: translateY(-50%);
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
