@charset "UTF-8";

$opacity-image-background: red;
$opacity: 90;
$opacity-image-opacity: calc(#{$opacity} / 100);

$menu-background: #ffffff;
$header-font-family: "arial";
$header-font-size: 30px;

@import "csswizardry";

@import "variables";
@import "shared/helpers";
@import "shared/form";
@import "shared/menu";
@import "shared/icons";

@import "general";
@import "shared/header";
@import "shared/footer";

@import "sections";
@import "product";
