.cart-page {
  .cart-header {
    font-weight: bold;
    padding: #{$default_padding}px;
    border-top: none;
    @include breakpoint(palm) {
      display: none;
    }
  }
  .cart-col-total {
    text-align: right;
    @include breakpoint(palm) {
      text-align: center;
    }

    .money {
      margin-top: 30px;
      @include breakpoint(palm) {
        margin: 0;
      }
      display: block;
    }
  }
  .cart-item {
    padding: #{$default_padding}px;
    border-top: 1px solid $layout_border_color;

    .image {
      float: left;
      background: asset-url('images/placeholder.svg') no-repeat center $layout_secondary_background_color;
      height: 90px;
      width: 90px;
      background-size: 50% auto;
      margin-right: #{$default_padding}px;
      border-radius: 4px;

      a,
      img {
        display: block;
      }
      img {
        border-radius: 4px;
      }
    }
    .cart-details {
      a {
        &:hover {
          color: lighten($text_link_color, 20%);
        }
      }
      ul {
        @extend .default-list;

        li {
          display: inline-block;

          + li {
            padding-left: 10px;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              left: 1px;
              top: 10px;
              width: 4px;
              height: 4px;
              border-radius: 4px;
              background: $text_body_color;
            }
          }
        }
      }
    }
    .cart-delete {
      cursor: pointer;
      display: inline-block;
      font-size: 0.875rem;

      &:hover {
        color: lighten($text_body_color, 20%);
      }
    }
  }
  .cart-col-quantity {
    .product-quantity-input {
      margin-top: 25px;
      margin-left: 10px;
      @include breakpoint(palm) {
        float: none;
        margin: 10px 0;

        input {
          width: 100%;
        }
      }
    }
  }
  .cart-footer {
    padding: #{$default_padding}px;
    border-top: 1px solid $layout_border_color;
    @include breakpoint(palm) {
      border: none;
      text-align: center;
    }
  }
  .chekcout-footer {
    padding: #{$default_padding}px;
    text-align: right;
    @include breakpoint(palm) {
      text-align: center;

      button {
        width: 100%;
      }
    }
  }
  .empty-cart {
    text-align: center;
    padding-top: 40px;
  }
}
