.contact-page {
  .main-title {
    padding: rem(42px 0 0px);
  }
  .subtitle {
    margin: rem(-14px 0 31px);
    text-align: center;
  }
  .contact-container {
    background: $body-background;
    max-width: rem(1070px);
    margin: 0 auto;
    padding: rem(50px);
    @include breakpoint(tablet) {
      padding: rem(30px);
    }

    h3 {
      color: $title-color;
      font-size: $title-h3-size;
      margin: rem(2px 0 11px);
    }
    .description {
      color: $body-color;
      font-size: $body-font-size;
      font-weight: $body-font-weight;
      line-height: 1.5;
      margin-bottom: rem(17px);
    }
    .eight.wide.column {
      @include breakpoint(tablet) {
        width: 100% !important;
      }
    }
  }
  #contact-form {
    margin: rem(-5px -18px 0);
    @include breakpoint(tablet) {
      margin: 0;
    }

    input,
    textarea {
      border: $form-field-border;
      color: $form-field-color;
      font-size: $form-field-font-size;
      font-weight: $form-field-font-weight;
      width: 100%;
      padding: rem(20px);

      @include placeholder {
        color: $form-field-placeholder-color;
      }
      &.error {
        border-color: $form-error-color !important
        //border-color: #CED5DB !important
      }
      &:focus {
        border: $form-field-focus-border !important;
        @include box-shadow(0 0 4px 0 $form-field-focus-shadow);
      }
    }
    textarea {
      padding: rem(6px 20px 20px);
      height: rem(180px);
      resize: none;
    }
    .button {
      padding: rem(10px 56px);
    }
    .sixteen {
      padding-top: rem(4px) !important;
    }
    .error-message {
      color: $form-error-color;
      font-size: 12px;
      font-weight: normal;
      padding-top: 6px;
    }
  }
}