$limited-max-width: 1200;
$default-padding: 10;
$opacity-image-background: #4183D7;
$opacity-image-opacity: calc(30 / 100);

body {
  margin: 0;
  font-family: Verdana;
  font-size: 16px;
}
* {
  outline: none;
}
a {
  text-decoration: none;
  color: #3d4246;
}

.general-content {
  max-width: #{$limited-max-width}px;
  margin: #{2 * $default-padding}px auto #{$default-padding}px;

  &.full-width {
    max-width: 100%;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &.next-to-up {
    margin-top: 0;
  }
  &.next-to-down {
    margin-bottom: 0;
  }
}

.general-title {
  color: #3d4246;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
h3.general-title {
  font-size: 18px;
}
.general-text {
  color: #3d4246;
  font-size: 16px;
}
.text-large {
  .general-title {
    font-size: 30px;
  }
  .general-text {
    font-size: 22px;
  }
}

// special images w opacity
.opacity-image-container {
  position: relative;
  background: $opacity-image-background;

  .opacity-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-position: center;
    background-size: cover;
    opacity: $opacity-image-opacity;
  }
}
