$limited-max-width: 1280;
$default-padding: 5;

body {
  margin: 0;
  font-family: Verdana;
  font-size: 16px;
}
* {
  outline: none;
}
a {
  text-decoration: none;
  color: #3d4246;
}
.not-full-screen {
  max-width: #{$limited-max-width}px;
  margin: 0 auto;

  ul {
    margin: -#{$default-padding}px;
  }
}

.row.full-width {
  max-width: 100%;
}

.general-title {
  color: #3d4246;
  font-size: 24px;
  text-align: center;
}
.general-text {
  color: #3d4246;
  font-size: 16px;
}
.text-large {
  .general-title {
    font-size: 30px;
  }
  .general-text {
    font-size: 22px;
  }
}
