html {
  font-size: $body_font_size;
}
body {
  margin: 0;
  font-family: $body_font_family, sans-serif;
  font-size: 1rem;
  color: $text_body_color;
  background: $layout_background_color;
  line-height: 1.5;
}
* {
  outline: none;
}
a {
  text-decoration: none;
  color: $text_link_color;
}
p {
  line-height: 1.5;
}
.no-grid-item {
  display: table;
  width: calc(100% - 2 * #{$default_padding}px);
  height: 100%;
  margin: 0 #{$default_padding}px;
  min-height: inherit;
}
.full-width {
  .no-grid-item {
    width: 100%;
    margin: 0;
  }
}

.general-content {
  max-width: #{$limited_max_width}px;
  margin: 0 auto;
  padding: #{3 * $default_padding}px 0;

  .content-spacer {
    margin: 0 #{$default_padding}px;
  }
  &.full-width {
    max-width: 100%;

    .content-spacer {
      margin: 0;
    }
  }
}

.general-title {
  color: $text_headings_color;
  font-size: calc(#{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_font_size});
  font-family: $heading_font_family, sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
h2.general-title {
  font-size: calc(#{$heading_scaling} * #{$heading_scaling} * #{$heading_font_size});
}
h3.general-title {
  font-size: calc(#{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_font_size});
}
h4.general-title {
  font-size: calc(#{$heading_scaling} * #{$heading_font_size});
  text-transform: uppercase;
  padding-bottom: 30px;
}
.general-text {
  color: $text_body_color;
  font-size: 1rem;
}
.text-large {
  .general-title {
    font-size: calc(#{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_scaling} * #{$heading_font_size});
  }
  .general-text {
    font-size: calc(#{$heading_scaling} * #{$heading_font_size});
  }
}

.main-content {
  @extend .general-content;

  main {
    section[data-type]:first-of-type {
      &[data-type=image-with-text-overlay] {
        padding-top: 0;
      }
    }
  }
}
main {
  section[data-type]:first-of-type {
    &[data-type=image-with-text-overlay] {
      padding-top: 0;
    }
  }
}

// special images w opacity
.opacity-image-container {
  position: relative;

  .opacity-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.with-background {
    background: $image_overlay_background;
    border: none;

    .opacity-image {
      background-size: cover;
      opacity: $image_overlay_opacity;
      background-image: none;
    }
  }
  &.with-video {
    border: none;
  }
}

.general-page {
  header {
    @extend .clearfix;
    padding: 0 #{$default_padding}px;

    .general-title {
      text-align: left;
    }
    .sorting,
    .search-results {
      vertical-align: bottom;
      text-align: right;
    }
  }
}

.fancy-dropdown {
  position: relative;
  text-align: left;
  cursor: pointer;
  padding-right: 10px !important;

  .icon-full-arrow-down {
    position: relative;
    top: -2px;
  }
  .fancy-dropdown-container {
    display: none;
    position: absolute;
    z-index: 5;
    left: 0;
    padding-top: 10px;
  }
  ul {
    @extend .default-menu;
    background: $layout_header_footer_background_color;
    box-shadow: 0 2px 8px 0 rgba(27, 22, 38, 0.1);

    li {
      position: relative;

      label {
        display: block;
        cursor: pointer;
      }
      a,
      span {
        padding: #{$default_padding}px;
        display: block;
        white-space: nowrap;
      }
      span {
        pointer-events: none;
      }
      input {
        opacity: 0;
        position: absolute;

        &:checked + span {
          background: darken($layout_header_footer_background_color, 5%);
          color: lighten($text_link_color, 20%);
        }
      }
    }
  }
  &.direction-right {
    .fancy-dropdown-container {
      left: auto;
      right: 0;
    }
  }
  &:hover {
    .fancy-dropdown-container {
      display: block;
    }
    .current,
    .current-locale {
      color: lighten($text_link_color, 20%);;
    }
  }
}

sidebar.general-sidebar {
  ul {
    @extend .default-list;

    li {
      a {
        padding: 5px 0;
        display: block;
        color: $text_link_color;

        &:hover {
          color: lighten($text_link_color, 20%);
        }
      }
      li {
        padding-left: 20px;
      }
    }
  }
}

.general-separator {
  width: 100%;
  height: 1px;
  background: $layout_border_color;
  margin: #{$default_padding}px 0;
}

.lazyload,
.lazyloading {
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity 300ms;
  }
}

.tns-outer {
  height: 100%;
  position: relative;

  .tns-controls {
    button {
      z-index: 9;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      color: $layout_background_color;
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: block;
      background: none;

      svg {
        width: 25px;
        height: 25px;
        display: block;
        margin: 0 auto;
        position: relative;
      }
      &[data-controls=prev] {
        left: 35px;
      }
      &[data-controls=next] {
        right: 35px;

        .icon-arrow-next {
          @include flip;
        }
      }
      .slideshow-prev,
      .slideshow-next {
        &:before {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          background: $buttons_primary_button_background_color;
          top: 0;
          left: 0;
          opacity: 0.7;
          border-radius: 100%;
        }
      }
      &:hover {
        color: darken($layout_background_color, 10%);

        .slideshow-prev,
        .slideshow-next {
          &:before {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .tns-nav {
    z-index: 9;
    left: 50%;
    @include transform(translateX(-50%));
    position: absolute;
    bottom: 5px;

    button {
      background: $buttons_primary_button_background_color;
      padding: 0;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      box-shadow: inset 0 0 0 1px $buttons_primary_button_background_color;
      opacity: 0.7;
      margin: 0 5px;

      &:hover,
      &[aria-selected=true] {
        background: $layout_background_color;
        opacity: 1;
      }
    }
  }
  button[data-action] {
    display: none;
  }
  .tns-inner {
    height: 100%;

    .tns-item {
      height: 100%;
    }
  }
}
