.not-found {
  text-align: center;
  margin-bottom: rem(250px);

  .main-title {
    text-transform: uppercase;
    padding: rem(10px 0 0);
    margin-bottom: rem(2px);
  }
  .button {
    margin-top: rem(29px);
    font-size: 14px;
    padding: rem(5px 20px 6px);
  }
}