.page-page {
  margin-bottom: rem(140px);

  .main-title {
    padding: rem(2px 0 0);
    margin-bottom: rem(12px);
  }
  .page {
    margin: 0 auto;
    max-width: rem(770px);
    padding-bottom: rem(30px);
  }
}
