.search-page {
  .main-title {
    font-size: 36px;
    margin-top: rem(-1px);
    margin-bottom: rem(40px);
  }
  form[role=search] {
    display: inline-block;
    margin-left: rem(23px);
    position: relative;
    @include breakpoint(tablet) {
      display: block;
      text-align: center;
    }

    input {
      height: rem(42px);
      width: rem(450px);
      padding-left: rem(35px);
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
    button {
      position: absolute;
      left: rem(4px);
      top: rem(5px);
      background: none;
      border: none;
      font-size: rem(24px);
      color: #CED5DB;
      outline: none;
    }
  }
  .six.wide.column {
    text-align: right;
    @include breakpoint(tablet) {
      width: 100% !important;
    }
  }
  .ten.wide.column {
    @include breakpoint(tablet) {
      width: 100% !important;
      text-align: center;
    }
  }
  .sorting-form {
    margin: 0;
    text-align: left;
    @include breakpoint(tablet) {
      text-align: center;
    }
  }
  .search-results {
    border-top: 1px solid #EBF0F5;
    margin: rem(20px 0 149px);
    padding: rem(30px 0 0);

    .no-results {
      color: #212121;
      font-size: 18px;
      font-weight: 600;
    }
  }
}