section[data-type] {
  @extend .general-content;
  box-sizing: border-box;

  .slick-arrow {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    color: $text_headings_color;
    cursor: pointer;

    &:hover {
      color: lighten($text_headings_color, 20%);
    }
    svg {
      width: 25px;
      height: 25px;
      display: block;
    }
    &.slick-prev {
      left: -35px;
    }
    &.slick-next {
      right: -35px;

      .icon-arrow-next {
        @include transform(rotate(180deg));
      }
    }
  }
  .slick-dots {
    list-style: none;
    margin: 0;
    padding: 45px 0 0;
    text-align: center;

    li {
      width: 6px;
      height: 6px;
      border-radius: 1000px;
      margin: 0 5px;
      //background: lighten($image_overlay_dark_color, 20%);
      background: $buttons_secondary_button_background_color;
      display: inline-block;
      border: 1px solid lighten($layout_border_color, 20%);
      box-shadow: 0 0 0 1px darken($layout_border_color, 20%);
      box-sizing: border-box;
      opacity: 0.7;

      button {
        opacity: 0;
        cursor: pointer;
        height: 10px;
        width: 10px;
        padding: 0;
      }
      &.slick-active,
      &:hover {
        opacity: 1;
        width: 10px;
        height: 10px;
        margin: 0 3px;
        position: relative;
        top: -2px;
      }
    }
  }
}

.section-height {
  &.x-small,
  &.extra-small {
    height: 125px;
  }
  &.small {
    height: 300px;
  }
  &.medium {
    height: 475px;
  }
  &.large {
    height: 650px;
  }
  &.x-large,
  &.extra-large {
    height: 775px;
  }
}

.image-align-top-left {
  background-position: left top !important;
}
.image-align-top-middle {
  background-position: center top !important;
}
.image-align-top-right {
  background-position: right top !important;
}
.image-align-middle-left {
  background-position: left center !important;
}
.image-align-center,
.image-align-middle {
  background-position: center center !important;
}
.image-align-middle-right {
  background-position: right center !important;
}
.image-align-bottom-left {
  background-position: left bottom !important;
}
.image-align-bottom-middle {
  background-position: center bottom !important;
}
.image-align-bottom-right {
  background-position: right bottom !important;
}

[data-type=image-with-text-overlay] {
  width: 100%;
  text-align: center;
  display: table;

  .opacity-image {
    background-image: asset-url('images/general-placeholder.svg');

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $image_overlay_background;
      opacity: $image_overlay_opacity;
      content: '';
    }
  }
  &.with-background {
    .opacity-image {
      background-size: cover;
    }
  }
  &:not(.full-width) {
    max-width: #{$limited_max_width}px;
  }
  &[class*="image-align"] {
    background-size: cover;
    background-color: transparent;
  }
  .hero {
    display: table-cell;
    vertical-align: middle;
    padding: #{$default_padding}px;
    position: relative;
  }
  .text-content {
    margin: 0 auto;
    text-align: center;
  }
  .general-title,
  .general-text {
    //color: $image_overlay_light_color;
    color: $image_overlay_color;
    max-width: 75%;
    margin: 0 auto;

    &.text-dark {
      //color: $image_overlay_dark_color;
      color: $image_overlay_color;
    }
  }
  .general-text {
    line-height: 2;
  }
}
section[data-type=collection] {
  .button {
    margin: 10px 0;
  }
  .collection-slideshow {
    position: relative;
  }
  &.show-slideshow {
    @include breakpoint(1255) {
      width: calc(100% - 50px);
    }
  }
  .slick-arrow {
    top: -35px;
    @include transform(none);

    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
}
[data-type=blog-posts] {
  text-align: left;

  .text-column {
    padding: 10px #{$default_padding}px 40px;

    h2.general-title {
      text-align: left;
      padding: 13px 0 0;
    }
    .post-author {
      font-weight: 400;
      color: $text_headings_color;
    }
    .post-date {
      font-size: calc(#{$body_font_size} - 4px);
    }
    .text-column-text {
      line-height: 2;
      padding: 13px 0 30px;
    }
  }
}
[data-type=image-gallery] {
  text-align: center;

  .grid__item {
    background-position: center;
    background-repeat: no-repeat;
    background-color: $layout_secondary_background_color;;

    &.with-background {
      background-size: cover;
      background-color: transparent;
    }
    .caption-container {
      text-align: center;
      width: 100%;
      height: 100%;
      display: none;
      position: relative;
      min-height: inherit;

      span {
        display: table-cell;
        vertical-align: middle;
        padding: #{$default_padding}px;
        color: #ffffff;
      }
    }
    .general-title {
      //color: $image_overlay_light_color;
      color: $image_overlay_color;

      &.text-dark {
        //color: $image_overlay_dark_color;
        color: $image_overlay_color;
      }
    }
    &.opacity-image-container {
      .opacity-image {
        background-image: asset-url('images/placeholder.svg');
        opacity: 1;
      }
    }
    &:hover {
      &.opacity-image-container {
        background-color: $image_overlay_background;
        border: none;

        .opacity-image {
          opacity: $image_overlay_opacity;
          background-color: $layout_background_color;
        }
      }
      .caption-container {
        display: table;
      }
    }
  }
}
[data-type=image-with-text] {
  .grid__item {
    vertical-align: middle;
    padding: #{$default_padding}px;

    h2.general-title {
      text-align: left;
      font-size: calc(#{$headings_font_size} - 14px);
    }
    .text-content {
      padding: 10px 0;
    }
    .image {
      width: 100%;
      text-align: center;
      background-color: $layout_secondary_background_color;;
      padding: 100px 0;
    }
    &.with-image {
      .image {
        padding: 0;
        background-color: transparent;
      }
      img {
        width: 100%;
      }
    }
  }
}
section[data-type=slideshow] {
  &:not(.full-width) {
    .slideshow {
      margin: #{$default_padding}px;
    }
  }
  .row {
    height: 100%;
  }
  .slideshow {
    text-align: center;
    height: 100%;
    min-height: inherit;
  }
  .general-title,
  .general-text {
    //color: $image_overlay_light_color;
    color: $image_overlay_color;

    &.text-dark {
      //color: $image_overlay_dark_color;
      color: $image_overlay_color;
    }
  }
  .slick-arrow {
    z-index: 1;
    //color: $image_overlay_light_color;
    color: $image_overlay_color;

    svg {
      position: relative;
      z-index: 2;
    }
    &:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      //background: lighten($image_overlay_dark_color, 20%);
      background: darken($buttons_secondary_button_background_color, 20%);
      left: -13px;
      top: -12px;
      border-radius: 1000px;
      z-index: 1;
      opacity: 0.7;
    }
    &.slick-prev {
      left: 53px;

      &:before {
        top: -13px;
      }
    }
    &.slick-next {
      right: 53px;
    }
    &:hover {
      //color: lighten($image_overlay_light_color, 20%);
      color: darken($image_overlay_color, 10%);

      &:before {
        //background: lighten($image_overlay_dark_color, 30%);
        opacity: 1;
      }
    }
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 15px;
    padding: 0;

    li {
      float: left;
    }
  }
  .slick-slider {
    .slick-track,
    .slick-list {
      height: 100%;
      min-height: inherit;
    }
    .slide {
      background-size: cover;
      min-height: inherit;

      a,
      .container {
        width: 100%;
        height: 100%;
        display: table;
        min-height: inherit;
      }
      .text {
        padding: #{$default_padding}px 15%;
        width: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
      }
      iframe {
        @include centerize;
      }
    }
  }
}
[data-type=collection-list] {
  .grid {
    text-align: center;
  }
  .grid__item {
    padding: #{$default_padding}px;
  }
}
[data-type=product] {
  .grid__item {
    padding: #{$default_padding}px;

    .image {
      text-align: center;
      background-color: $layout_secondary_background_color;
      padding: 100px 0;
      display: block;

      &.with-image {
        padding: 0;
        border: none;

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
[data-type=testimonials] {
  .testimonial {
    padding: #{$default_padding}px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    position: relative;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: left;
    }
    .testimonial-quote {
      line-height: 32px;
      padding: 19px 0 0;
      position: relative;
    }
    .testimonial-author {
      padding: 22px 0 0;
      position: relative;
      margin-top: 20px;

      &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background: $layout_border_color;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
  }
  .grid.testimonial-slider {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));

      svg {
        width: 50px;
        height: 50px;
      }
      &.slick-prev {
        left: -35px;
      }
      &.slick-next {
        right: -35px;
      }
    }
    @include breakpoint(1255) {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
}
[data-type=text-columns-with-images] {
  text-align: left;

  .general-title {
    text-align: left;
    padding: 22px 0 10px;
  }
  &.text-alignment-center {
    text-align: center;

    .general-title {
      text-align: center;
    }
  }
  h3.general-title {
    text-align: center;
  }
  .text-column {
    padding: #{$default_padding}px;
    line-height: 32px;

    .general-title {
      padding-bottom: 0;
    }
    img {
      width: 100%;
    }
    .image {
      height: 258px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $layout_secondary_background_color;
    }
  }
}
[data-type=logo-list] {
  position: relative;

  .background {
    position: absolute;
    top: #{3 * $default_padding}px;
    right: 0;
    bottom: #{3 * $default_padding}px;
    left: 0;
    background: $layout_secondary_background_color;
  }
  .general-title {
    position: relative;
    padding-top: 30px;
  }
  ul {
    margin: 0;
    padding: 30px 0;
    list-style: none;
    text-align: center;
    position: relative;

    li {
      display: inline-block;
      padding: #{$default_padding}px;
      vertical-align: middle;

      a {
        display: block;
        height: 100%;
      }
      img {
        max-height: 20px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
  &.section-height-large {
    ul li img {
      max-height: 60px;
    }
  }
}
[data-type=newsletter] {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;

  .background {
    position: absolute;
    top: #{3 * $default_padding}px;
    right: 0;
    bottom: #{3 * $default_padding}px;
    left: 0;
    background: $layout_secondary_background_color;
  }

  .newsletter-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 90px 0;

    .newsletter-form {
      padding: 20px 0 15px;

      input[type=text] {
        border: none;
        width: 235px;
        text-transform: capitalize;
      }
      button,
      input[type=submit] {
        @extend .button.primary;
        font-size: calc(#{$body_font_size} - 2px);
        text-transform: capitalize;
        padding: 9px 30px;
      }
    }
  }
}
[data-type=location-and-contact] {
  min-height: 454px;
  position: relative;

  .scrolloff {
    pointer-events: none;
  }
  .map-container {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
    background: asset-url('images/map-placeholder.png') no-repeat center $layout_secondary_background_color;
    @include breakpoint(palm) {
      position: relative;
      height: 450px;
      top: 0;
      bottom: 0;
    }

    &.with-map {
      background: none;
    }
  }
  .map-description {
    position: relative;
    background: $layout_background_color;
    padding: 25px 30px;
    display: table;
    width: 370px;
    box-sizing: border-box;
    margin: 10px;
    min-height: inherit;
    @include breakpoint(palm) {
      width: calc(100% - 20px);
      left: 0;
      min-height: 0;
    }

    .map-details {
      display: table-cell;
      vertical-align: middle;
    }
    .general-title {
      text-align: left;
    }
  }
}
[data-type=custom] {
  .grid__item {
    padding: #{$default_padding}px;

    &.v-align-top {
      vertical-align: top;
    }
    &.v-align-middle {
      vertical-align: middle;
    }
    &.v-align-bottom {
      vertical-align: bottom;
    }
    .custom-section {
      &.custom_text {
        &.text-align-left {
          text-align: left;

          .general-title {
            text-align: left;
          }
        }
        &.text-align-center {
          text-align: center;

          .general-title {
            text-align: center;
          }
        }
        &.text-align-right {
          text-align: right;

          .general-title {
            text-align: right;
          }
        }
      }
      &.custom_image {
        text-align: center;
        padding-top: 100%;
        box-sizing: border-box;
        background: asset-url('images/placeholder.svg') no-repeat center $layout_secondary_background_color;

        &.with-image {
          padding: 0;
          background: none;

          img {
            width: 100%;
            float: left;
          }
        }
      }
      &.custom_video {
        background: asset-url('images/placeholder.svg') no-repeat center $layout_secondary_background_color;
        padding-top: calc(900% / 16);

        &.with-video {
          background: none;
          padding: 0;
        }
        iframe {
          width: 100%;
          display: block;
        }
      }
      &.custom_product {
        margin: -#{$default_padding}px;

        .image {
          text-align: center;
          box-sizing: border-box;
          background: asset-url('images/placeholder.svg') no-repeat center $layout_secondary_background_color;
          padding-top: 100%;
          display: block;

          &.with-image {
            border: none;
            padding: 0;
            background: none;

            img {
              width: 100%;
            }
          }
        }
      }
      &.custom_product {
        h2.general-title {
          text-align: left;
        }
      }
      &.custom_collection {
        position: relative;
        padding-bottom: 100%;

        .opacity-image {
          background: asset-url('images/placeholder.svg') no-repeat center $layout_secondary_background_color;
        }
        a,
        .collection {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          h3.general-title {
            padding: 20px;
            @include centerize;
          }
        }
      }
    }
  }
}
