{% comment %}
{% endcomment %}

<section data-section-id="{{section.id}}" data-type="collection" class="divide-by-3">
  <h2 class="general-title">Collection (featured)</h2>
  <ul>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image">
          <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
        </div>
        <h3 class="product-title">Product title</h3>
        <div class="product-price">14.95€</div>
      </a>
    </li>
  </ul>
</section>
