{% comment %}
{% endcomment %}

<section data-section-id="{{section.id}}" data-type="collection-list" class="divide-by-3">

  <h2 class="general-title">Collection list</h2>

  <ul>
    <li>
      <a class="collection" href="" style="background-image: url('http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg')">
        <h3 class="collection-title">Title here</h3>
      </a>
    </li>
    <li>
      <a class="collection" href="" style="background-image: url('http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg')">
        <h3 class="collection-title">Title here</h3>
      </a>
    </li>
    <li>
      <a class="collection" href="" style="background-image: url('https://i.ytimg.com/vi/X9r9sGYp708/hqdefault.jpg')">
        <h3 class="collection-title">Title here</h3>
      </a>
    </li>
  </ul>

</section>
