{% comment %}
{% endcomment %}

<section data-section-id="{{section.id}}" data-type="collection" class="divide-by-3">

  <h2 class="general-title">Collection (featured)</h2>

  <ul>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('https://i.ytimg.com/vi/X9r9sGYp708/hqdefault.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
    <li>
      <a class="product" href="">
        <div class="image" style="background-image: url('https://i.ytimg.com/vi/X9r9sGYp708/hqdefault.jpg')"></div>
        <h3 class="product-title">Product title</h3>
        <div class="product-vendor">Vendor</div>
        <div class="product-price">14.95€</div>
      </a>
    </li>
  </ul>

  <div class="buttons">
    <a href="" role="button" class="button primary">View all</a>
  </div>

</section>
