{% comment %}
data-type="image-with-text" defines section type
image-no-right / image-no-left class specifies text & image locations
{% endcomment %}

<section data-type="image-with-text" class="image-no-right">
  <div class="text">
    <h2 class="general-title">Image with text</h2>
    <div class="text-content general-text">
      Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.
    </div>
    <a href="" role="button" class="button primary">Link</a>
  </div>
  <div class="image">
    <img src="http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg">
  </div>
</section>
