{% comment %}
{% endcomment %}

<section data-section-id="{{section.id}}" data-type="logo-list" class="divide-by-3">

  <h2 class="general-title">Logo list</h2>

  <ul>
    <li>
      <a class="product" href="">
        <img src="http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg">
      </a>
    </li>
    <li>
      <a class="product" href="">
        <img src="http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg">
      </a>
    </li>
    <li>
      <a class="product" href="">
        <img src="http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg">
      </a>
    </li>
  </ul>

</section>
