{% comment %}
{% endcomment %}

<section data-section-id="{{section.id}}" data-type="newsletter">
  <div class="text">
    <h2 class="general-title">Newsletter</h2>
    <div class="text-content general-text">
      A short sentence describing what someone will receive by subscribing
    </div>

    <form>
      <input>
      <button class="button primary">Submit</button>
    </form>

  </div>
</section>
