{% comment %}

we can set the animation to vertical/horizontal/fade, also speed & delay?
  no animation anymore

we can use https://daneden.github.io/animate.css/
implementation https://owlcarousel2.github.io/OwlCarousel2/demos/animate.html

{% endcomment %}

<script>
$(document).ready(function(){
  $('.owl-slideshow').owlCarousel({
    items: 1,
    nav: true,
    loop: true,
    autoplay: true,
    navText : ["<i class='icon-arrow-left'></i>","<i class='icon-arrow-right'></i>"],
    autoplayTimeout: 3000
  });
});
</script>

<section data-section-id="{{section.id}}" data-type="slideshow" class="section-height large">
	<ul class="owl-carousel owl-slideshow">
    <li class="image-align-bottom-middle" style="background-image: url('http://static.fjcdn.com/pictures/Joker+cat_ff8f4c_3504798.jpg')">
      <div class="hero">
        <div class="text">
          <h2 class="general-title">Image with text</h2>
          <div class="text-content general-text">
            Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.
          </div>
          <a href="" role="button" class="button secondary">Link</a>
        </div>
      </div>
    </li>
    <li class="image-align-top-right" style="background-image: url('http://s2.quickmeme.com/img/b9/b92e98114c8dc9e14ba1ec91527edb0d9b0b581a24fd7d2d774b761c5d7acff5.jpg')">
      <div class="hero">
        <div class="text text-large">
          <h2 class="general-title">Image with text</h2>
          <div class="text-content general-text">
            Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.
          </div>
          <a href="" role="button" class="button secondary">Link</a>
        </div>
      </div>
    </li>
    <li class="image-align-middle" style="background-image: url('https://i.ytimg.com/vi/X9r9sGYp708/hqdefault.jpg')">
      <div class="hero">
        <div class="text">
          <h2 class="general-title">Image with text</h2>
          <div class="text-content general-text">
            Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.
          </div>
          <a href="" role="button" class="button secondary">Link</a>
        </div>
      </div>
    </li>
	</ul>
</section>
