{% comment %}

set .owl-testimonials to .owl-carousel if there's more than 3 testimonials

{% endcomment %}

<script>
$(document).ready(function(){
  $('.owl-testimonials').owlCarousel({
    items: 3,
    loop: true,
    nav: false,
  });
});
</script>
<section data-section-id="{{section.id}}" data-type="testimonials">

  <h2 class="general-title">Testimonials</h2>

	<div class="owl-carousel">
    <div class="testimonial">
      <h3 class="testimonial-title">Title here</h3>
      <div class="testimonial-quote">
        Add customer reviews and testimonials to showcase your store’s happy customers.
      </div>
      <div class="testimonial-author">Author</div>
    </div>
    <div class="testimonial">
      <h3 class="testimonial-title">Title here</h3>
      <div class="testimonial-quote">
        Add customer reviews and testimonials to showcase your store’s happy customers.
      </div>
      <div class="testimonial-author">Author</div>
    </div>
    <div class="testimonial">
      <h3 class="testimonial-title">Title here</h3>
      <div class="testimonial-quote">
        Add customer reviews and testimonials to showcase your store’s happy customers.
      </div>
      <div class="testimonial-author">Author</div>
    </div>
  </div>

</section>
