{% comment %}
{% endcomment %}

{% assign n = 6 %}
{% if n == 1 %}
{% assign text_column_class = 'divide-by-1' %}
{% endif %}
{% if n == 2 or n == 4 %}
{% assign text_column_class = 'divide-by-2' %}
{% endif %}
{% if n == 5 %}
{% assign text_column_class = 'divide-by-5' %}
{% endif %}

<section data-section-id="{{section.id}}" data-type="text-columns-with-images" class="{{text_column_class}}">

  <h2 class="general-title">Text columns with images</h2>

  <ul>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
    <li>
      <div class="text-column">
        <img src="https://cdn.shopify.com/s/files/1/2109/9227/files/Screenshot_2017-06-21_12.49.37_1080x.png?v=1498046475">
        <h3 class="general-title">Title title</h3>
        <div class="text-column-text">
          Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
        </div>
      </div>
    </li>
  </ul>

</section>
