<div class="side-bar columns large-3">
  <div class="divider"></div>
    <div class="recent-articles block clearfix colored-links">
      <h3 class="title">{{'blog.recent_news' | t}}</h3>
      <ul>
        {% for item in blog_posts %}
        {% if forloop.index0 < 3 %}
        <li class="item{% if item.url == url.current_path %} active{% endif %}">
          <a href="{{item.url}}">{{item.name}}</a>
          {% if item.published_at %}
          <br/>
          <em>
            {{'blog.posted_on' | t}}
            {% include 'date' with item.published_at %}
          </em>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% comment %} - for the time we shall have tags. Do You like tags? You know - tags
    <div class="tags block clearfix colored-links">
      <h3 class="title">Tags</h3>
      <ul>
        <li class="item"><a title="Narrow search to articles also having tag art" href="/blogs/news/tagged/art">art</a></li>
        <li class="item"><a title="Narrow search to articles also having tag cookbook" href="/blogs/news/tagged/cookbook">cookbook</a></li>
        <li class="item"><a title="Narrow search to articles also having tag deli" href="/blogs/news/tagged/deli">deli</a></li>
        <li class="item"><a title="Narrow search to articles also having tag design" href="/blogs/news/tagged/design">design</a></li>
      </ul>
    </div>
    {% endcomment %}

  </div>
</div>
