{% if flash_message == 'cart' %}
<div class="flash">
  <div class="message">
    {% for error in errors %}
    <div data-cart-error>
      {{error | t}}
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
{% if errors.any? or flash.notice %}
<div class="flash error">
  <div class="message">
    {% for error in errors %}
    <div data-error>
      {{error | t}}
    </div>
    {% endfor %}
    <div data-notice>
      {{flash.notice | t}}
    </div>
  </div>
</div>
{% endif %}
{% endif %}
