<section class="footer-banners">
  <div class="row">
    <div class="columns large-24">
      <ul>
        <li>{{ 'bunheads.jpg' | asset_url | image_tag }}</li>
        <li>{{ 'capezio.jpg' | asset_url | image_tag }}</li>
        <li>{{ 'broadway-dancewear.png' | asset_url | image_tag }}</li>
        <li>{{ '2skin.jpg' | asset_url | image_tag }}</li>
      </ul>
    </div>
  </div>
</section>