<div class="instagram-widget">
  <h3 class="title"><a target="_blank" href="http://instagram.com/brofitwearstore/">Instagram</a></h3>
  <!-- SnapWidget -->
  <script src="http://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/250268" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:370px; height:555px"></iframe>
</div>
