<section class="slider dark">
  <div class="row">
    <div class="slides">

      <div class="slide" data-menu="dark">
        <img src="{{ "images/brofitwear-hero.jpg" | asset_url }}" alt="" />
        <div class="caption left middle">
          <div class="bg"></div>
          <h2 class="title">{{'home.slider.collection' | t}}</h2>
          <a class="button" href="{{url.products}}">{{'home.slider.collection.link' | t}}</a>
        </div>
      </div>

    </div>
  </div>
</section>
