{% if shop.possible_languages.many? %}
<div class="language-selector">
  <ul>
    <li class="current-locale">
      {{ "language." | append: shop.current_locale | t }}
      <span aria-hidden="true" class="glyph arrow-down"></span>
    </li>
    {% for language in shop.possible_languages %}
    {% unless shop.current_locale == language %}
    <li>{{ "language." | append: language | t | link_to_locale: language }}</li>
    {% endunless %}
    {% endfor %}
  </ul>
</div>
{% endif %}
