{% if shop.possible_languages.many? %}
<div class="fancy-dropdown menu-dropdown" data-item="main">
  <div class="current-locale">
    {{"language." | append: shop.current_locale | t}}
    <i class="icon-full-arrow-down"></i>
  </div>
  <div class="fancy-dropdown-container menu-dropdown-container">
    <ul>
      {% for language in shop.possible_languages %}
      {% unless shop.current_locale == language %}
      <li>{{ "language." | append: language | t | link_to_locale: language }}</li>
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
