{% if shop.possible_languages.many? %}
<div class="language-selector menu-dropdown" data-item="main">
  <div class="current-locale">
    {{"language." | append: shop.current_locale | t}}
    {% include 'icon' with 'full-arrow-down' %}
  </div>
  <div class="language-list menu-dropdown-container">
    <ul>
      {% for language in shop.possible_languages %}
      {% unless shop.current_locale == language %}
      <li>{{ "language." | append: language | t | link_to_locale: language }}</li>
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
