{% if menu.links.any? or menu.children.any? %}
<ul>
  {% assign collection = menu.root_links %}
  {% if menu.children.any? %}
  {% assign collection = menu.children %}
  {% endif %}

  {% for link in collection %}
  <li>
    {% if link.url %}<a href="{{link.url}}"{% if link.style == 'custom' %} target="_blank"{% endif %}>{% endif %}{{link.name}}{% if link.url %}</a>{% endif %}

    {% if link.children.any? %}
    {% include 'menu' with link %}
    {% endif %}

  </li>
  {% endfor %}
</ul>
{% endif %}
