{% if menu.links.any? or menu.children.any? %}
<ul>
  {% assign collection = menu.root_links %}
  {% if menu.children.any? %}
  {% assign collection = menu.children %}
  {% endif %}

  {% for link in collection %}
  <li>
    <a href="{{link.url}}"{% if link.style == 'custom' %} target="_blank"{% endif %}>{{link.name}}</a>

    {% if link.children.any? %}
    {% include 'menu' with link %}
    {% endif %}

  </li>
  {% endfor %}
</ul>
{% endif %}
