{% if menu.links.any? or menu.children.any? %}
<ul>
  {% assign collection = menu.root_links %}
  {% if menu.children.any? %}
  {% assign collection = menu.children %}
  {% endif %}

  {% for link in collection %}
  <li{% if link.children.any? %} class="with-child"{% endif %}>
    {% if link.url %}<a href="{{link.url}}"{% if link.style == 'custom' %} target="_blank"{% endif %}>{% else %}<span>{% endif %}{{link.name}}{% if link.url %}</a>{% else %}</span>{% endif %}
    {% if link.children.any? %}{% include 'icon' with 'arrow-next' %}{% endif %}

    {% if link.children.any? %}
    {% include 'menu' with link %}
    {% endif %}

  </li>
  {% endfor %}
</ul>
{% endif %}
