<ul class="sub-nav">
  {{menu_category.children}}
  {% for category in menu_category %}
    {% assign current = url.current_path | replace: '/categories/', '' %}
    <li{% if current == category.handle %} class="active"{% endif %}>
    {{category | link_to_category}}
    {% if category.children? %}
    <div class="icon-arrow-next"></div>
    {% include "categories" with category.children %}
    {% endif %}
    </li>
  {% endfor %}
</ul>
