{% if product.others_in_category.any? %}
<section class="similar-products row">
  <h2 class="title">{{ 'product.recommended' | t }}</h2>
  <div class="product-grid clearfix randomize-list" data-show-only="3">
    {% for product in product.others_in_category %}
    <div class="columns large-4">
      {% include 'list_product' %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
