<section class="sub-navigation">
    <div class="row">
        <div class="columns large-20">
            <nav>
                <ul class="horizontal-list">
                    {% for category in categories.roots %}
                    <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="columns large-4">
            {% include 'search' %}
        </div>
    </div>
</section>