<section role="main" class="blogs-page general-page">
  {% paginate posts by 6 %}
  {% for post in paginate.collection %}
  {% include 'list_blog_post' %}
  {% endfor %}

  {% include 'pagination' %}
  {% endpaginate %}
</section>
