<section role="main" class="blog-page general-page">
  {% paginate posts by 6 %}
  {% for post in paginate.collection %}
  {% include 'list_blog_post' with 'blog-list' %}
  {% endfor %}

  {% include 'pagination' %}
  {% endpaginate %}
</section>
