<div class="blog-posts-page">
  {% paginate posts by 6 %}
  {% for post in paginate.collection %}
  <div class="blog-posts-list-item">
    <div class="main-container">
      {% include 'list_blog_post' %}
    </div>
  </div>
  {% endfor %}

  {% include 'pagination' %}
  {% endpaginate %}
</div>
