{% assign meths = "order_by_price_asc|order_by_price_desc|order_by_name_asc|order_by_name_desc" | split: "|" %}
{% assign order =  params["filter"] %}
{% unless meths contains order %}{% assign order = "order_by_name_asc" %}{% endunless %}
{% assign full_width = 1 %}

<section role="main" class="category-page general-page">
  <div class="grid">
    <div class="grid__item one-whole palm--one-third desk--one-quarter">
      <sidebar class="general-sidebar">
        <nav class="category-nav">
          <ul>
            {% for category in categories %}
            {% if category.root? %}
            <li>
            {{category | link_to_category}}
            {% if category.children? %}
            {% include "categories" with category.children %}
            {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </sidebar>
    </div><!--

    --><div class="grid__item one-whole palm--two-third desk--three-quarters" itemscope itemtype="http://schema.org/ItemList">
      <header class="grid">
        <div class="grid__item one-whole desk--three-quarters">
          <h2 class="general-title" itemprop="name">{{category.name}}</h2>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter sorting">
          {% include 'sortable' %}
        </div>
      </header>

      {% paginate category.products_with_children[order] by 9 %}
      <div class="grid">
        {% for product in paginate.collection %}
        {% include 'list_product' with 'category' %}
        {% endfor %}
      </div>

      {% include 'pagination' %}

      {% endpaginate %}
    </div>
  </div>
</section>
