{% assign meths = "order_by_price_asc|order_by_price_desc|order_by_name_asc|order_by_name_desc" | split: "|" %}
{% assign order =  params["filter"] %}
{% unless meths contains order %}{% assign order = "order_by_name_asc" %}{% endunless %}
{% assign full_width = 1 %}

<div class="main-container">
  <div class="ui grid categories">
    <div class="four wide column">
      <sidebar class="category-sidebar">
        <nav class="category-nav">
          <ul>
            {% for category in categories %}
            {% if category.root? %}
            <li>
            {{category | link_to_category}}
            {% if category.children? %}
            {% include "categories" with category.children %}
            {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </sidebar>
    </div>

    <div class="twelve wide column categories-content">
      <div class="ui grid">
        <div class="eight wide column">
          <h2 class="main-title">{{category.name}}</h2>
        </div>
        <div class="eight wide column">
          {% include 'sortable' %}
        </div>
      </div>

      {% paginate category.products_with_children[order] by 12 %}
      <section role="main" class="category-page">
        <div class="ui grid product-grid" data-height="equal">

          {% for product in paginate.collection %}
          {% include 'list_product' with 3 %}
          {% endfor %}

        </div>
      </section>

      {% include 'pagination' %}

      {% endpaginate %}
    </div>
  </div>
</div>
