<section role="main" class="collection-page general-page" itemscope itemtype="http://schema.org/ItemList">
  <header class="grid">
    <div class="grid__item one--whole">
      <h3 class="general-title" itemprop="name">{{collection.name}}</h3>
    </div>
  </header>

  {% paginate collection.products.order_by_name_asc by 12 %}
  <div class="page-content grid">
    {% for product in paginate.collection %}
    {% include 'list_product' with 'page' %}
    {% endfor %}
  </div>
  {% include 'pagination' %}
  {% endpaginate %}
</section>
