<section role="main" class="collections-page general-page">
  <header class="grid">
    <div class="grid__item one--whole desk--one-half">
      <h3 class="general-title">{{'general.collections' | t}}</h3>
    </div>
  </header>

  <div class="collections-list grid">
    {% for collection in collections %}
    {% include 'collection_item' with 'page' %}
    {% endfor %}
  </div>
</section>
