<section role="main" class="collection-page general-page">
  <header class="grid">
    <div class="grid__item one--whole desk--one-half">
      <h3 class="general-title">{{collection.name}}</h3>
    </div><!--
    --><div class="grid__item one--whole desk--one-half sorting">
      {% include 'sortable' %}
    </div>
  </header>

  {% paginate collection.products.order_by_name_asc by 12 %}
  <div class="page-content grid">
    {% for product in paginate.collection %}
    {% include 'list_product' with 'page' %}
    {% endfor %}
  </div>
  {% include 'pagination' %}
  {% endpaginate %}
</section>
