<div class="not-found">
  <h2 class="main-title center">{{'general.404.title' | t}}</h2>
  <div class="subtitle">{{'general.404.description' | t}}</div>

  <a class="button secondary" href="{{url.root}}">{{'general.404.button' | t}}</a>
</div>
