<section role="main" class="not-found-page general-page">
  <h3 class="general-title">{{'general.404.title' | t}}</h3>
  <div class="subtitle">{{'general.404.description' | t}}</div>

  <a class="button primary" href="{{url.root}}">{{'general.404.button' | t}}</a>
</section>
