<section role="main" class="page-page general-page">
  <header class="grid">
    <div class="grid__item one--whole">
      <h1 class="general-title">{{page.name}}</h1>
    </div>
  </header>

  <div class="page-content page-content">
    {{page.content}}
  </div>
</section>
