<div class="page-page">

  <div class="main-container">
    <article>
      <h2 class="main-title center">{{page.name}}</h2>

      <div class="page">
        {{page.content}}
      </div>
    </article>
  </div>
</div>
