<section role="main" class="password-recover-page general-page">
  {% include "flash_message" %}

  <div class="account-form-container">
    <div class="account-page-container">
      <h3 class="general-title">{{'account.token_sent' | t}}</h3>
      <div class="subtitle">{{'account.token_sent.subtitle' | t}}</div>

      <div class="fake-form">
        <div class="grid">
          <div class="grid__item one-whole">
            <a href="{{url.login}}">{{'account.back_to_login' | t}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
