<section class="subheader">
  <div class="columns large-12">
    {% include "crumbs" %}
  </div>
</section>

{% include "flash_message" %}

<div class="account-content">
  <div id="customer-login">
    <div class="row">
      <div id="recover-password" class="columns large-7">
        <h1 class="page-title">Reset Password</h1>
        <p class="note">We will send you an email to reset your password.</p>

        <form method="post" action="{{ form_actions.password_request }}">
          {{form_actions.auth_input}}
          <label for="email" class="label">Email Address</label>
          <input type="email" value="" name="email" id="email" class="text">

          <input class="button" type="submit" value="Submit">
          <span class="note">or <a href="{{url.login}}">Cancel</a></span>
        </form>
      </div>



    </div>
  </div>
</div>
