<div class="account-page background-container">
  <div class="account-form">
    <h3 class="main-title center">{{'account.token_sent' | t}}</h3>
    <div class="subtitle">{{'account.token_sent.subtitle' | t}}</div>

    <div class="fake-form">
      <div class="ui grid">
        <div class="sixteen wide column">
          <a href="{{url.login}}" class="button secondary" type="submit">{{'account.back_to_login' | t}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
