{% assign meths = "order_by_price_asc|order_by_price_desc|order_by_name_asc|order_by_name_desc" | split: "|" %}
{% assign order =  params["filter"] %}
{% unless meths contains order %}{% assign order = "order_by_name_asc" %}{% endunless %}

<div class="main-container">
  <div class="ui grid inner-header-title">
    <div class="eight wide column">
      <h2 class="main-title">{{'breadcrumb.products' | t}}</h2>
    </div>
    <div class="eight wide column">
      {% include 'sortable' %}
    </div>
  </div>

  {% paginate products[order] by 12 %}

  <section role="main" class="products-page">
    <div class="ui grid product-grid" data-height="equal">
      {% for product in paginate.collection %}
      {% include 'list_product' with 4 %}
      {% endfor %}
    </div>

    {% include 'pagination' %}
  </section>

  {% endpaginate %}
</div>